:root {
    --element-border-radius: 5px;

    --white-text-color: rgb(255, 255, 255);

    --container-bg-color: rgb(236, 236, 236);

    --element-top-margin: 80px;
    --element-container-gap: 200px;

    --nav-section-margin-right: 80px;
    --image-margin-left: 120px;

    --nav-font-size: 20px;
    --nav-margin-right: 40px;
    --nav-hover: blue;
    --nav-active: orange;

    --order-image-width: 500px;
    --order-image-height: 500px;
    --order-image-bg-color: rgb(204, 204, 204);

    --order-color: rgb(79, 76, 177);
    --order-text-font-size: 12.5px;
    --order-btn-padding: 15px 50px;
    --order-text-weight: 600;
    --order-section-padding: 75px 100px;
    --order-font-size: 15px;

    --header-margin: 10px 0px 100px 0px; 

    --about-image-width: 350px;
    --about-image-height: 200px;
    --about-container-margin: 150px;
    --about-container-width: 80%;
    --about-padding: 75px 125px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat" ;
}

.header-section {
    margin: var(--header-margin);
}

.container-bg-color {
    background-color: var(--container-bg-color);
}

.flex-container {
    display: flex;
}

.element-top-gap {
    margin-top: var(--element-top-margin);
}

.order-section {
    padding: var(--order-section-padding);
}

.order-image {
    width: var(--order-image-width);
    height: var(--order-image-height);
    background-color: var(--order-image-bg-color);
    border-radius: var(--element-border-radius);
}

.colored-span-text {
    color: var(--order-color);
}

.order-text {
    font-size: var(--order-text-font-size);
}

.order-text-container {
    width: var(--order-image-width);
}

.order-btn {
    background-color: var(--order-color);
    border: 1px solid white;
    border-radius: var(--element-border-radius);
    padding: var(--order-btn-padding);
    color: var(--white-text-color);
    font-weight: var(--order-text-weight);
    font-size: var(--order-font-size);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-items {
    align-items: center;
}

.nav-style {
    text-decoration: none;
    font-size: var(--nav-font-size);
    margin-right: var(--nav-margin-right);
}

.nav-style:hover {
    color: var(--nav-hover);
}

.nav-style:active {
    color: var(--nav-active);
}

.nav-section {
    margin-right: var(--nav-section-margin-right);
}

.logo-section {
    margin-left: var(--image-margin-left);
}

.about-image {
    width: var(--about-image-width);
    height: var(--about-image-height);
}

.about-container {
    padding: var(--about-padding);
    width: var(--about-container-width);
    margin-left: var(--about-container-margin);
    border-radius: var(--element-border-radius);
    margin-top: var(--element-container-gap);
}

.header-text {
    font-size: var(--order-text-font-size);
}