:root {
    --nav-section-margin-right: 80px;
    --image-margin-left: 120px;

    --nav-font-size: 20px;
    --nav-margin-right: 40px;
    --nav-hover: blue;
    --nav-active: orange;
}

.div-container,
.flex-align-items {
    display: flex;
    justify-content: space-between;
}

.flex-align-items {
    align-items: center;
}

.nav-style {
    text-decoration: none;
    font-size: var(--nav-font-size);
    margin-right: var(--nav-margin-right);
}

.nav-style:hover {
    color: var(--nav-hover);
}

.nav-style:active {
    color: var(--nav-active);
}

.nav-section {
    margin-right: var(--nav-section-margin-right);
}

.logo-section {
    margin-left: var(--image-margin-left);
}